* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-transform: uppercase;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

li > ul {
  padding-top: 10px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  font: normal 16px  Arial, Helvetica, sans-serif;
  border: 1px solid #aaa;
}

header,
section {
  padding: 10px 0 20px;
  border-bottom: 1px solid #aaa;
}

section:last-child {
  border-bottom: none;
}

.name{
  float: left;
}

.photo {
  position: relative;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.photo > img {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.contact-list {
  padding-left: 0;
  list-style: none;
}

.bold {
  font-weight: 600;
}

pre {
  padding: 5px 15px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}